.header, .hero, .body, .bar, .footer{
	padding-top: 10px;
	background-color: #FFAEC9;
	margin-bottom: 10px;
}
.box, .box1{
	min-height: 50px;
	background-color: #99D9EA;
	margin-bottom: 10px;
}
.box1{
	background-color: #ED1C24;
}
  